<%= form_for(@chal) do |f| %>
  <% if @chal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chal.errors.count, "error") %> prohibited this chal from being saved:</h2>

      <ul>
      <% @chal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :challenger  %>
 <%= f.select( "challenged", User.all.collect {|p| [ p.email, p.id ] }, { include_blank: true }) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
