<p id="notice"><%= notice %></p>

<% chall = Challenge.create(challenger_id: 5) %>
  <header class="chess-head">
  <div class="logo">
  <%= image_tag("Chess-icon.png", size: "40") %>
  </div>
  <div class="title">
  <h1>Chess Server</h1>
  <h2>Play chess online</h2>
  </div>
  </header>


<h1>Your Current Games</h1>

<table>
  <thead>
    <tr>
      <th>White</th>
      <th>Black</th>
      <th>white_id</th>
      <th>Black_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% current_user.all_games.each do |game| %>
      <tr>
        <td><%= game.white %></td>
        <td><%= game.black %></td>
        <td><%= game.user_white_id %></td>
        <td><%= game.user_black_id %></td>
        <td><%= link_to 'Show', game %></td>
     
      </tr>
    <% end %>

<table>

     </tbody>
     <tbody>
<h1>Your Incoming Challenges</h1>
    <% current_user.incoming_chals.each do |chal| %>
      <tr>
          Player
      </tr>

      <tr>
        <td><%= chal.challenger %></td>
        <td><%= link_to 'Accept Challenge', new_chal_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 


<br>




<%= link_to 'New Challenge', new_chal_path %>
